<% content_for :title do %>Backgrounder<% end %>
<table>
<% @top5.each do |arg| %>
  <th> <%= arg[1]  %>  mentions of <%= arg[0] %> </th>
  <% arg[2].each do |author, content| %>
  <tr>
    <td><%= author %></td>
    <td><%= content %></td>
  </tr>
  <% end %>
  <% unless arg[3].nil? %>
    <% arg[3].each do |url, title| %>
    <tr>
      <td><%= link_to title, url, :target => "_blank" %></td>
    </tr>
    <% end %>
  <% end %>
<% end %>
  
</table>